@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Medium'), local('MuseoModerno-Medium'),
        url('../fonts/MuseoModerno-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno ExtraBold'), local('MuseoModerno-ExtraBold'),
        url('../fonts/MuseoModerno-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Light'), local('MuseoModerno-Light'),
        url('../fonts/MuseoModerno-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Thin'), local('MuseoModerno-Thin'),
        url('../fonts/MuseoModerno-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno ExtraLight'), local('MuseoModerno-ExtraLight'),
        url('../fonts/MuseoModerno-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Black'), local('MuseoModerno-Black'),
        url('../fonts/MuseoModerno-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno SemiBold'), local('MuseoModerno-SemiBold'),
        url('../fonts/MuseoModerno-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Bold'), local('MuseoModerno-Bold'),
        url('../fonts/MuseoModerno-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: local('MuseoModerno Regular'), local('MuseoModerno-Regular'),
        url('../fonts/MuseoModerno-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}