* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    padding: 38px 0 61px 0;
    background: url(../img/bg/first_bg.png) center center/cover no-repeat;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    color: #FFFFFF;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 21px;
}

.title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 21px;
    color: #FFFFFF;
}

.promo .promo_text {
    margin-top: 23px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_text span {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 21px;
    text-align: center;
    color: #F9BF3B;
    text-transform: uppercase;
}

.promo .promo_btn, .present .present_btn {
    display: block;
    margin: 72px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.18);
    border: 3px solid rgba(0, 0, 0, 0.23);
    border-radius: 2%;                                                         /* СТИЛИЗАЦИЯ КНОПОК */
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    font-family: 'RobotoCondensed';
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.more .more_text {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

/* ДОБАВЛЯЕМ ВТОРУЮ СЕКЦИЮ */

.waiting {
    background: #EFEFEF;
    height: 605px;                             /* СТИЛИЗАЦИЯ ВСЕЙ СЕКЦИИ */
    padding-top: 85px;
    padding-bottom: 75px;
}

.waiting .waiting_header, .finish .finish_header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;                           /* СТИЛИЗАЦИЯ ЗАГОЛОВКА h2 ВО ВТОРОЙ И ТРЕТЬЕЙ СЕКЦИИ*/
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider, .finish .finish_divider {
    margin: 18px auto;
    width: 220px;                               /* ОРАНЖЕВАЯ ПОЛОСКА МЕЖДУ ЗАГОЛОВКАМИ ВО ВТОРОЙ И ТРЕТЬЕЙ СЕКЦИИ  */                   
    height: 3px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;                          /* СТИЛИЗАЦИЯ ВТОРОГО ЗАГОЛОВКА ЧЕРЕЗ div */
    text-align: center;
    color: #4A4A4A;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;                        /* ОБЩАЯ СТИЛИЗАЦИЯ БЛОКА С ТРЕМЯ КАРТИНКАМИ */
}

.waiting .waiting_wrapper .waiting_item {                          
    width: 342px;                                  /* СТИЛИЗАЦИЯ БЛОКОВ С КАРТИНКАМИ И ТЕКСТОМ */
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;                                         /* ЗАДАЕТ РАЗМЕР КАРТИНКИ 100% ОТ РОДИТЕЛЯ */
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;                                     /* СТИЛИЗАЦИЯ ТЕКСТА */
    line-height: 21px;
    color: #4A4A4A;
    text-align: center;
}

/* ДОБАВЛЯЕМ ТРЕТЬЮ СЕКЦИЮ */

.optimization {
    min-height: 545px;
    padding: 108px 0 75px 0;                                  /* СТИЛИЗАЦИЯ ВСЕЙ СЕКЦИИ */
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: 'Roboto';
    font-weight: 900;                                         /* СТИЛИЗАЦИЯ ЗАГОЛОВКА h2 */
    font-size: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 10px;
    margin-left: 391px;
    width: 750px;
    font-family: 'Roboto';                                        /* СТИЛИЗАЦИЯ ТЕКСТА */
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 17px;                                               /* СТИЛИЗАЦИЯ ЖИРНОГО ТЕКСТА */
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_img {
    position: absolute;
    top: -47px;
    left: -240px;                                                   /* СТИЛИЗАЦИЯ КАРТИНКИ */
    z-index: -1;
}

/* ДОБАВЛЯЕМ ЧЕТВЕРТУЮ СЕКЦИЮ */

.finish {
    min-height: 445px;
    background: url(../img/bg/fourth_bg.png) center center/cover no-repeat;   
    padding: 86px 0 79px 0;                                                           /* СТИЛИЗАЦИЯ ВСЕЙ СЕКЦИИ */
}

.finish .finish_header {
    color: #EFEFEF;                                        /* СТИЛИЗАЦИЯ ЗАГОЛОВКА h2 */       
}

.finish .finish_wrapper {
    margin-top: 39px;
    display: flex;                                           /* СТИЛИЗАЦИЯ ВСЕЙ СЕКЦИИ ГДЕ БУДУТ РАСПОЛОЖЕНЫ ЭЛЕМЕНТЫ */
    justify-content: space-between;                             /* С КАРТИНКАМИ И ТЕКСТОМ */
}

.finish .finish_wrapper .finish_item {
    width: 204px;                                                 /* СТИЛИЗАЦИЯ ШИРИНЫ МОДУЛЯ КАРТИНКИ И ТЕКСТА*/
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;                                               /* СТИЛИЗАЦИЯ ЭЛЕМЕНТОВ С КРУЖКОМ И ВЫРАВНИВАНИЕ КАРТИНОК В НЕМ */
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: 300;                                                  /* СТИЛИЗАЦИЯ ТЕКСТА */
    font-size: 17px;                                                    
    line-height: 20px;
    color: #EFEFEF;
    text-align: center;
}

/* ДОБАВЛЯЕМ ПЯТУЮ СЕКЦИЮ */

.present {
    min-height: 631px;
    background: #EFEFEF;                                       /* СТИЛИЗАЦИЯ ВСЕЙ СЕКЦИИ */
    padding: 88px 0 88px 0;
}

.present .present_img {
    display: block;                                             /* СТИЛИЗАЦИЯ КАРТИНКИ РАСПОЛОГАЕМ ЕЕ ПО ЦЕНТРУ */
    margin: 0 auto;
}

.present .present_text {
    margin-top: 45px;
    font-family: 'Roboto';
    font-weight: 400;                                      /* СТИЛИЗАЦИЯ ТЕКСТА */
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.present .present_btn {
    margin-top: 51px;                                     /* ОТСТУП КНОПКИ СВЕРХУ */
}

/* ДОБАВЛЯЕМ ШЕСТУЮ СЕКЦИЮ */

.last {
    min-height: 515px;
    padding: 86px 0 51px 0;                                 /* СТИЛИЗАЦИЯ ВСЕЙ СЕКЦИИ */
}

.last .last_img {
    width: 342px;
    height: 201px;                                          /* ПАРАМЕТРЫ КАРТИНКИ*/
    display: block;
    margin: 0 auto;
}

.last .last_header {
    margin-top: 35px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;                                            /* СТИЛИЗАЦИЯ ЗАГОЛОВКА */
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.last .last_subheader {
    margin-top: 30px;
    font-family: 'Roboto';
    font-weight: 900;                                          /* СТИЛИЗАЦИЯ ДОПОЛНИТЕЛЬНОГО ЗАГОЛОВКА */
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.last .last_text {
    margin-top: 25px;
    font-family: 'Roboto';
    font-weight: 400;                                        /* СТИЛИЗАЦИЯ ТЕКСТА */
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

/* ДОБАВЛЕНИЕ footer */

footer {
    min-height: 169px;
    background: #1A1A1A;                                /* СТИЛИЗАЦИЯ ФУТЕРА */
    padding: 57px 0 69px 0;
}

.about .contacts {
    display: flex;                                           /* ВЫРАВНИВАНИЕ ПО ЦЕНТРУ */
    justify-content: center;
}

.about .contacts .del {
    margin-left: 5px;                                         /* ОТСТУПЫ РАЗДЕЛИТЕЛЯ */
    margin-right: 5px;
}

.about .call {
    text-align: center;                                           /* ВЫРАВНИВАНИЕ ПО ЦЕНТРУ */
}

.about .contacts .politic, .about .contacts .del, .about .contacts .sevice, .about .call {
    font-family: 'Roboto';
    font-weight: 300;                                         /* ДОБАВИМ ЦЕВЕТОВ И ШРИФТ ТЕКСТУ */
    font-size: 15px;
    color: #888888
}

