.advantages {
    min-height: 473px;
    padding: 71px 0 64px 0;
    background: #F6F6F6;
    &__wrapper {
        margin-top: 61px;
        display: flex;
        justify-content: space-around;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__title {
        margin-top: 35px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__text {
        width: 275px;
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        text-align: center;
        a {
            color: $main-color;
        }
    }
}